.Phone2 .innerBox {
  display: flex;
  align-items: center;
}

.Phone2 .innerBox .checkBox {
  color: #ff9900;
  border-radius: 14px;
  cursor: pointer;
}

.Phone2 .innerBox .checkBox::after {
  position: absolute;
  content: "";
  border: 1px solid #ff9900;
  border-radius: 14px;
  width: 30px;
  height: 30px;
}

.Phone2 {
  margin-right: 4rem;
}
.Phone2 .desktopImg img {
  width: 60%;
  margin-left: 4rem;
}

.Phone2 .mobileImg {
  display: none;
}

.Phone2 .mobileImg img {
  width: 60%;
}

@media (max-width: 935px) {
  .Phone2 .desktopImg img {
    width: 80%;
  }
}

@media (max-width: 735px) {
  .Phone2 .desktopImg img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .Phone2 {
    margin-right: 1rem;
    text-align: center;
  }
  .Phone2 .desktopImg {
    display: none;
  }
  .Phone2 .mobileImg {
    display: block;
  }
}
