.Phone2 {
  margin: 4rem;
}
.Phone2 img {
  width: 60%;
}

.Phone2 .innerBox {
  display: flex;
  align-items: center;
}
.Phone2 .innerBox > *:first-child {
  margin-top: 1.9rem;
  margin-right: 1.5rem;
}

.Phone2 .innerBox .checkBox {
  color: #ff9900;
  border-radius: 14px;
  cursor: pointer;
}

.Phone2 .innerBox .checkBox::after {
  position: absolute;
  content: "";
  border: 1px solid #ff9900;
  border-radius: 14px;
  width: 30px;
  height: 30px;
}


