.Phone1 {
  margin-right: 4rem;
}

.Phone1 .subHeading {
  font-size: 18px;
  color: #2f281e;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 4.2rem;
  margin-bottom: -1.5rem;
  max-width: 100%;
}

.Phone1 .desktopImg img {
  width: 70%;
  margin-left: 4rem;
  margin-top: 4rem;
}

.Phone1 .mobileImg {
  display: none;
}

.Phone1 .mobileImg img {
  width: 60%;
}

.Phone1 ul li {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 2rem;
}

@media (max-width: 935px) {
  .Phone1 .desktopImg img {
    width: 80%;
  }
}

@media (max-width: 735px) {
  .Phone1 .desktopImg img {
    width: 110%;
    margin: 0;
  }
  .Phone1 ul li {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .Phone1 {
    margin-right: 0rem;
    margin: 0 1rem;
  }
  .Phone1 .desktopImg {
    display: none;
  }
  .Phone1 .mobileImg {
    display: block;
  }
  .Phone1 .mobileImg img {
    display: block;
    margin: auto;
  }
  .Phone1 ul li {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .Phone1 .subHeading {
    margin-bottom: -2.5rem;
  }
  .Phone1 ul li .liText {
    max-width: 80%;
  }
}

@media (max-width: 513px) {
  .Phone1 ul li .liText {
    padding-top: 1rem;
  }
}
