.Phone1 .desktopImg img {
  width: 450px;
  margin-top: 4rem;
}
.Phone1 .mobileImg {
  display: none;
}

.Phone1 .mobileImg img {
  width: 80%;
}


@media (max-width: 910px) {
  .Phone1 .desktopImg img {
    width: 80%;
  }
}


@media (max-width: 600px) {
  .Phone1 {
    margin-right: 0rem;
    margin: 0 1rem;
  }
  .Phone1 .phone-content {
    margin-bottom: 6rem;
  }
  .Phone1 .desktopImg {
    display: none;
  }
  .Phone1 .mobileImg {
    display: block;
  }

  .Phone1 .mobileImg img {
    display: block;
    margin-top: 1rem;
  }
  .Phone1 .subHeading {
    margin-bottom: -2.5rem;
  }
}
